{%load static%}
{% csrf_token%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Page</title>
    <meta property="og:title" content="Portfolio Page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}?version=123">
    <script src="{% static 'myapp/js/indexScriptsAPI.js' %}?version=126"></script>
  </head>
  <body>
    <div>
      <div class="home-container">
        <div data-role="Header" class="home-navbar-container">
          <div class="home-navbar">
            <span class="home-heading">
              <span>Добавить</span>
              <br />
            </span>
            <div class="home-links-container">
              <span>
                <span class="Navbar-Link">Учет</span>
                <br />
              </span>
            </div>
          </div>
        </div>
        <div class="home-section-separator"></div>
        <div class="home-pricing">
          <div class="home-heading-container">
            <h1 class="home-text04">Добавление в учет</h1>
          </div>
          <div class="home-pricing-card-container">
            <div class="home-card">
              <div class="home-card-heading">
                <span class="Section-Heading">Человек</span>
              </div>
              <div class="home-card-middle">
                <input
                  type="text"
                  placeholder="Фамилия"
                  class="home-textinput input"
                  id="last-name"
                />
                <input
                  type="text"
                  placeholder="Имя"
                  class="home-textinput1 input"
                  id="first-name"
                />
                <input
                  type="text"
                  placeholder="Отчество"
                  class="home-textinput2 input"
                  id="middle-name"
                />
                <select id="citySelect" className="home-select">
                </select>
              </div>
              <div class="home-card-content">
                <button onclick="addPerson()" class="home-choose button Anchor">Добавить</button>
              </div>
            </div>
            <div class="home-card1">
              <div class="home-card-heading1">
                <span>
                  <span class="Section-Heading">Вещь</span>
                  <br />
                </span>
              </div>
              <div class="home-card-middle1">
                <input
                  type="text"
                  placeholder="Название"
                  class="home-textinput3 input"
                  id="itemName"
                />
                <input
                  type="text"
                  placeholder="Марка"
                  class="home-textinput4 input"
                  id="itemBrand"
                />
              </div>
              <div class="home-card-content1">
                <button onclick="addItem()" class="home-choose1 button Anchor">Добавить</button>
              </div>
            </div>
            <div class="home-card2">
              <div class="home-card-heading2">
                <span class="Section-Heading">Учет</span>
              </div>
              <div class="home-card-middle2">
                <input
                  type="text"
                  placeholder="ФИО"
                  class="home-textinput5 input"
                  oninput="searchNames(this.value)"
                />
                <ul id="results"></ul>
                  <input
                    type="text"
                    placeholder="Вещь"
                    class="home-textinput6 input"
                />
                <input
                  type="text"
                  placeholder="Количество"
                  class="home-textinput7 input"
                />
              </div>
              <div class="home-card-content2">
                <button class="home-choose2 button Anchor">Добавить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- 
    <script>
      function addPerson() {
          var lastName = document.getElementById('last-name');
          var firstName = document.getElementById('first-name');
          var middleName = document.getElementById('middle-name');
          var citySelect = document.getElementById('citySelect');
  
          if (lastName && firstName && middleName && citySelect) {
            var csrfTokenMatch = document.cookie.match(/csrftoken=([^;]+)/);

if (csrfTokenMatch && csrfTokenMatch[1]) {
    var csrfToken = csrfTokenMatch[1];
    // Остальной код
    // ...
} else {
    console.error('CSRF token не найден в cookies.');
}
  
              var lastNameValue = lastName.value;
              var firstNameValue = firstName.value;
              var middleNameValue = middleName.value;
              var cityId = citySelect.value;
  
              var data = {
                  "last_name": lastNameValue,
                  "first_name": firstNameValue,
                  "middle_name": middleNameValue,
                  "city_id": cityId  // Отправляем ID города
              };
  
              fetch('http://127.0.0.1:8000/api/person/create/', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': csrfToken
                  },
                  body: JSON.stringify(data),
              })
              .then(response => response.json())
              .then(data => {
                  console.log('Успешно добавлено:', data);
                  // Здесь вы можете выполнить дополнительные действия после успешного добавления человека
              })
              .catch((error) => {
                  console.error('Ошибка:', error);
              });
          } else {
              console.error('Не удалось найти один из элементов');
          }
      }
  </script> -->

  </body>
</html>
