{%load static%}
{% csrf_token%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Portfolio Page</title>
    <meta property="og:title" content="Portfolio Page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/index.css' %}?version=123">
    <script type="module" src="{% static 'myapp/js/indexScripts.js' %}?version=150"></script>
    <script type="module" src="{% static 'myapp/js/ScriptsAPI.js' %}?version=142"></script>
  </head>
  <body>
    <div>
      <div class="home-container">
        <div data-role="Header" class="home-navbar-container">
          <div class="home-navbar">
            <span class="home-heading">
              <span>Добавить</span>
              <br />
            </span>
            <div class="home-links-container">
              <span>
                <a href="\record" class="Navbar-Link">Учет</a>
                <br />
              </span>
            </div>            
          </div>
        </div>
        <div class="home-section-separator"></div>
        <div class="home-pricing">
          <div class="home-heading-container">
            <h1 class="home-text04">Добавление в учет</h1>
          </div>
          <div class="home-pricing-card-container">
            <div class="home-card">
              <div class="home-card-heading">
                <span class="Section-Heading">Человек</span>
              </div>
              <div class="home-card-middle">
                <input
                  type="text"
                  placeholder="Фамилия"
                  class="home-textinput input"
                  id="last-name"
                />
                <input
                  type="text"
                  placeholder="Имя"
                  class="home-textinput1 input"
                  id="first-name"
                />
                <input
                  type="text"
                  placeholder="Отчество"
                  class="home-textinput2 input"
                  id="middle-name"
                />
                <select id="citySelect" className="home-select">
                </select>
              </div>
              <div class="home-card-content">
                <button onclick="postAddPerson()" class="home-choose button Anchor">Добавить</button>
              </div>
            </div>
            <div class="home-card1">
              <div class="home-card-heading1">
                <span>
                  <span class="Section-Heading">Вещь</span>
                  <br />
                </span>
              </div>
              <div class="home-card-middle1">
                <input
                  type="text"
                  placeholder="Название"
                  class="home-textinput3 input"
                  id="itemName"
                />
                <input
                  type="text"
                  placeholder="Марка"
                  class="home-textinput4 input"
                  id="itemBrand"
                />
                <div id="errorMesageItem">

                </div>
              </div>
              <div class="home-card-content1">
                <button onclick="postAddItem()" class="home-choose1 button Anchor">Добавить</button>
              </div>
            </div>
            <div class="home-card2">
              <div class="home-card-heading2">
                <span class="Section-Heading">Учет</span>
              </div>
              <div class="home-card-middle2">
                <input
                  type="text"
                  placeholder="ФИО"
                  class="home-textinput5 input"
                  oninput="searchNames(this.value)"
                />
                <ul id="results"></ul>
                <input
                  type="text"
                  placeholder="Вещь"
                  class="home-textinput6 input"
                />
                <input
                  type="text"
                  placeholder="Количество"
                  class="home-textinput7 input"
                  value="1"
                />
                <div class="home-card-dowload-QR">
                  <input type="checkbox" id="checkbox_dowloadQR" />
                  <label for="checkbox_dowloadQR">Скачать QR</label>
                  <input type="checkbox" id="checkbox_dowloadDOC" />
                  <label for="checkbox_dowloadDOC">Скачать документы</label>
                </div>
              </div>
              <div class="home-card-content2">
                <button class="home-choose2 button Anchor">Добавить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
