{%load static%}
{% csrf_token%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Portfolio Page</title>
        <meta property="og:title" content="Portfolio Page" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
    
        <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/record.css' %}?vers2sion=1">
        <script type="module" src="{% static 'myapp/js/record.js' %}?version=6"></script>
        <!-- <script type="module" src="{% static 'myapp/js/general.js' %}?version=3"></script>
        <script type="module" src="{% static 'myapp/js/ScriptsAPI.js' %}?version=3"></script> -->
    </head>


    <body>
      <div>
        <div class="home-container">
          <div data-role="Header" class="home-navbar-container">
            <div class="home-navbar">
              <div class="home-container01">
                <img alt="image" src="../../static/myapp/img/gaz_icon.png" class="home-image" />
                <span class="home-heading Card-Heading">Складотека</span>
              </div>
              <div class="home-links-container">
                <span class="home-link Navbar-Link">Учет</span>
                <span class="home-link01 Navbar-Link">Отчет</span>
                <span class="home-link02 Navbar-Link">Контакты</span>
              </div>
            </div>
          </div>
          <div class="home-container02"></div>
          <div class="home-container03">
            <div class="home-container04">
              <div class="home-container05">
                <span class="home-text03">Люди</span>
                <div class="switch">
                  <label class="switch">
                    <input type="checkbox" id="containerSwitch">
                    <span class="slider round"></span>
                  </label>
                </div>
                <span class="home-text03">Города</span>
              </div>
              <button type="button" class="home-button button">
                <span class="home-text01">
                  <span>Скачать данные</span>
                  <br />
                </span>
              </button>
            </div>
            <div class="home-container06" id="home-container06">
              <div class="home-container07">
                <div class="home-container08">
                  <div class="home-container09">
                    <input
                    type="text"
                    placeholder="ФИО"
                    class="home-textinput2 input"
                    id = "full-name"
                    value="ФИО"
                    />
                    <div class="dropdown" id="dropdown">
                      <ul>
                      </ul>
                    </div>
                  </div>
                  <div class="home-container10">
                    <input
                    type="text"
                    placeholder="ТМЦ"
                    class="home-textinput2 input"
                    id = "item1"
                    value="ТМЦ"
                    />
                    <div class="dropdown" id="dropdown1">
                      <ul>
                        privet
                      </ul>
                    </div>
                  </div>
                  <div class="home-container11">
                    <input
                    type="text"
                    placeholder="Город"
                    class="home-textinput2 input"
                    id = "city1"
                    value="Город"
                    />
                    <div class="dropdown" id="dropdown2">
                      <ul>
                      </ul>
                    </div>
                  </div>
                  <div class="home-container12">
                    <input
                    type="text"
                    placeholder="S/N"
                    class="home-textinput2 input"
                    id = "SN"
                    value="S/N"
                    />
                    <div class="dropdown" id="dropdown3">
                      <ul>
                      </ul>
                    </div>
                  </div>
                  <div class="home-container13">
                    <input
                    type="text"
                    placeholder="QR"
                    class="home-textinput2 input"
                    id = "QR"
                    value="QR"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="home-container20" id="home-container20">
              <div class="home-container21">
                <div class="home-container22">
                  <div class="home-container23">
                    <span class="home-text08">Город</span>
                  </div>
                  <div class="home-container24">
                    <span class="home-text09">ТМЦ</span>
                  </div>
                  <div class="home-container25">
                    <span class="home-text10">Количество</span>
                  </div>
                </div>
              </div>
            </div>
            <div id="INFO" class="home-container-info"></div>
          </div>
          <div class="home-footer-container">
            <div class="home-footer">
              <div class="home-copyright-container">
                <span class="home-link09 Anchor">
                  Филиал ООО "Газпром Инвест Томск"
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
