@import url('style.css');

html, body {
  height: 100%;
  margin: 0;
}
 .home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1613297599_28-p-sinii-fon-gori-51.jpg');
  background-position: top left;
}
.home-navbar-container {
  width: 100%;
  height: 103px;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(12, 94, 255, 0.33);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-heading {
  color: #ffffff;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.home-link01 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.home-link02 {
  color: #ffffff;
  margin-right: var(--dl-space-space-tripleunit);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home-container03 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container04 {
  flex: 0 0 auto;
  width: 85%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: stretch;
  margin-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home-text03{
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0 10px 0 10px;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.home-text {
  color: #ffffff;
  font-size: 18px;
}
.home-checkbox {
  align-self: center;
}
.home-button {
  color: rgb(255, 255, 255);
  align-self: center;
  transition: 0.3s;
  border-width: 0px;
  background-color: rgba(12, 94, 255, 0.33);
}
.home-button:hover {
  background-color: #0C5EFF;
}
.home-button:active {
  background-color: rgba(206, 28, 249, 0.7);
}
.home-text01 {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-height: 500px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}
.home-container07 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container09 {
  flex: 0 0 auto;
  width: 350px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  display: none; 
  border: 1px solid #ccc;
  z-index: 1000;
}
.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
}
.dropdown li {
  padding: 8px;
  cursor: pointer;
}
.dropdown li:hover {
  background-color: #f8f2f2;
}
.home-container09:hover .dropdown {
  display: block;
}
.home-textinput2{
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
  border: none;
  width: 100%;
  height: auto;
}
.home-textinput1{
  width: 100%;
  text-align: center;
  background-color: #ffffffee;
}
.home-link03 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container10 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-container10:hover .dropdown1 {
  display: block;
}
.home-link04 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  width: 125px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-link05 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container12 {
  flex: 0 0 auto;
  width: 175px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text04 {
  color: rgb(255, 255, 255);
}
.home-container13 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text05 {
  color: rgb(255, 255, 255);
}
.home-container14 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-container15 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #fdfdfd;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-link06 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container16 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #fdfdfd;
  border-width: 3px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-link07 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container17 {
  flex: 0 0 auto;
  width: 225px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #fdfdfd;
  border-width: 3px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-link08 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-container18 {
  flex: 0 0 auto;
  width: 175px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #fdfdfd;
  border-width: 3px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text06 {
  color: rgb(255, 255, 255);
  width: 200px;
  text-align: center;
}
.home-container19 {
  flex: 0 0 auto;
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: #fdfdfd;
  border-width: 3px;
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text07 {
  color: rgb(255, 255, 255);
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  max-height: 500px;
  min-height: 200px;
  align-items: center;
  justify-content: center;
}
.home-container21 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container23 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text08 {
  color: rgb(255, 255, 255);
}
.home-container24 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text09 {
  color: rgb(255, 255, 255);
}
.home-container25 {
  flex: 0 0 auto;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border: 3px solid #fdfdfd;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-text10 {
  color: rgb(255, 255, 255);
}
.home-container-info {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  max-height: 300px;
  min-height: 100px;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-footer-container {
  display: flex;
  align-self: stretch;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: 45px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(12, 94, 255, 0.2);
}
.home-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: center;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link09 {
  color: #ffffff;
}
@media(max-width: 991px) {
  .home-heading {
    text-align: center;
  }
  .home-container09 {
    width: 60%;
  }
  .home-container10 {
    width: 60%;
  }
  .home-container11 {
    width: 60%;
  }
  .home-container12 {
    width: 60%;
  }
  .home-container13 {
    width: 60%;
  }
  .home-container15 {
    width: 60%;
  }
  .home-container16 {
    width: 60%;
  }
  .home-container17 {
    width: 60%;
  }
  .home-container18 {
    width: 60%;
  }
  .home-container19 {
    width: 60%;
  }
  .home-container23 {
    width: 60%;
  }
  .home-container24 {
    width: 60%;
  }
  .home-container25 {
    width: 60%;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
}